body{
  /* Setting the CricnWIn Font Color. */
  color: #676767;
  background-color: #f1f1f1;
}

.ui.menu .item{
  color: #676767;
}


.cricnwin-pink {
  background-color: #fe414d;
}

/* CricnWIn Light Pink Button Color */
.cricnwin-light-pink-button{
  background-color: #fe414d !important;
  color: #fff !important;
  font-weight: 100;
}

.cricnwin-light-pink-button:hover{
  background-color: #bb3039 !important;
}

/*
 Carousel Slick Dots. 
 */
.slick-dots li button:before{
  font-size: 10px !important;
  color: #737373;
}

.slick-dots li{
  margin: 0 !important;
}